#app {
	opacity: 1;
	transition: opacity 0.5s;
}
#app[v-cloak] {
	opacity: 0;
}
.center {
	margin-left: auto;
	margin-right: auto;
}

#closeImage {
	width: 5%;
	float: right;
}
#searchImage {
	width: 5%;
	float: left;
}
#searchBar {
	border: 0;
	margin: 0px;
	outline: 0;
	margin: 0px;
	width: 100%;
	background: white;
	border-radius: 0px;
	border-bottom: 1px solid black;
	display: inline-block;
}
#searchTextBox {
	width: 100%;
	height: 200%;
	border: 0;

}

.dropbtn {
	display: block;
	width: 100%;
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
}
.voteDropBtn {
	display: block;
	width: 80%;
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-top: 2px;
	display: block;

}
.voteDropBtn:hover,
.voteDropBtn:focus {
	background-color: #2980B9;
}

.voteDropBtn:active {
	background-color: #00ff80;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #2980B9;
}

.dropdown-content {
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
	background-color: #ddd;
}

#map {
	width: 100%;
	height: 90%;
	position: absolute;
}

.fade-item {
	display: block;

}

.fade-enter-active, .fade-leave-active {
	transition: all 0.5s;
}

.fade-enter, .fadeleave-to {
	opacity: 0;
	transform: translateY(30px);
}

.checkedIn {}



.checkoutDropBtn{
	background-color:  #ff5c33;
	display: block;
	width: 80%;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-top: 2px;
}

.checkinBtn {
	display: block;
	width: 100%;
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}